@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: #19A1AE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background: white;
    width: 350px;
    text-align: center;
}

span, p {
    color: #6B7082;
}

span {
    font-size: 14px;
    display: block;
}

p {
    font-size: 18px;
}

strong {
    color: #2E3349;
    font-size: 18px;
    display: block;
    margin-bottom: 9px;
}

ul, li {
    list-style: none;
}

ul span {
    font-size: 10px;
}

ul {
    display: flex;
}